.terms__img1 {
    position: absolute !important;
    top: 0;
    left: 0rem;
    animation-duration: 2s;
    animation-name: termsimg;
}

.terms__images {
    height: 61.6rem;
}

.terms {
    overflow: hidden;
}

.title {
    font-size: 3.25rem !important;
}

@keyframes termsimg {
    from {
        left: 80rem;
    }

    to {
        left: 0rem;
    }
}