.panel{
    margin-bottom: 20px;
    background-color: #f5f1f1;
    border: 1rem solid transparent;
    border-radius: 2rem ;
   
    box-shadow: 0 0.5rem 0.5rem #57b846;
}
.symbol{
    text-align: center;
    border-radius: 50%;
    background-color:#40443f ;
    margin: auto;
    height: 9rem;
    width: 9rem;
     box-shadow: 0 0.3rem 0.3rem #57b846;
     &:hover{
        background-color: #babeb8;   
     }
}
.x{
    display: inline-block;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: white;
    font-size: 4rem;
}
.value{
 
    text-align: center;
    .count{
        color: #57b846;
    }
    p{
        font-weight: 700;
   
    font-size: 1.9rem;
    }
}
.symbole-container{
    margin: auto;
}
