fieldset { 
  display: block !important;
  margin-left: 2px !important;
  margin-right: 2px !important;
  padding-top: 0.35em !important;
  padding-bottom: 0.625em !important;
  padding-left: 0.75em !important;
  padding-right: 0.75em !important;
  border: 2px groove (internal value)  !important;
  border-width: 2px !important;
  border-style: groove !important;
  border-color: rgba(167, 156, 156, 0.2) !important;
  border-image: initial !important;
}

legend{
  width:22% !important;
  font-size: 17px !important;
} 
