.cover .card-title
{
    font-size: 5rem;
    margin-top: 8rem;
    padding-left: 8rem !important;
}
.card-overlay
{
    display: inline-block;
    background-image: url(../../assets/images/cover-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navbar-nav
{
    font-size: 2.5rem
}

.popular-cards{
    margin-bottom: 3rem; 
    .card{
        margin: 2rem;
        &-title{
            font-size: 3rem;
            padding-left: 0;
        }
    }
}
.home-navbar .active{
    background-color: #fffbfb !important;
    padding: 0.6rem;
    font-weight: 600
}

.home-navbar .nav-item a{
    color:  #32AD3C !important;
   
}