.card-title
{
    font-size: 5rem;
    margin-top: 8rem;
    padding-left: 8rem !important;
}
.card-overlay
{
    display: inline-block;
    background-image: url(../../assets/images/cover-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}