h3 {
    margin-left: 15px;
  }
  .previewComponent{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .imgPreview {
    text-align: center;
    border: 2px solid #d3d3d3;
  }
  .imgPreview img {
    width: 100%;
    height: 100%;
  }
  .previewText {
    width: 100%;
    margin: 1rem 0;
  }