.edit{
    width: 20px;
    height: 20px;
  }
  .edit:hover{
    cursor: pointer;
  }
  .del{
    width: 20px;
    height: 20px; 
  }
  .del:hover{
    cursor: pointer;
  }

  .book{
    width: 80px;
    height: 100px; 
  }
  .BGC{
    background: white !important;
  }